<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>NASA Rover Camera Viewer App</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filters
        </mat-panel-title>
        <mat-panel-description>
          Filter images by rover, camera, data
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-nasa-filters></app-nasa-filters>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="(errorSubject | async) as error">
    {{ error.message }}
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let photo of (data | async)">
      <mat-grid-tile-header>
        {{ photo.earth_date }} - {{ photo.camera.name }}
      </mat-grid-tile-header>
      <img [src]="photo.img_src">
    </mat-grid-tile>
  </mat-grid-list>
</div>


<div *ngIf="(loadingSubject | async)">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  loading..
</div>